/* ---- COLOR CODES ----

cream: #D9AE89
orange: #D97D48
light-brown: #8C513B
med-brown: #593325
dark-brown: #261A16


tumbleweed: #D9AE89
flame: #D95A2B
dark olive green: #68764A
    rgb(104, 118, 74)

caput mortuum: #593325
    background-color: rgba(89, 51, 37, 0.8);

smoky black: #261A16
    background-color: rgba(38, 26, 22, 0.8);

---- ---- ---- ---- */

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    background-color: #D9AE89;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    margin-bottom: 0.25em;
    color: #D95A2B;
}

h4 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 1em;
    margin: 0;
}

/*
 * Sidebar
 */

/*
.sidebar {
    background-color: rgba(38, 26, 22, 0.8);
    color: #D9AE89;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding-top: 70px;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
*/

/*
@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}
*/

/*
.sidebar-sticky {
    position: relative;
    top: 0;
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: hidden;
}
*/

#sidebar, #sidebar-widescreen {
    background-color: rgba(89, 51, 37, 0.9);
    color: #D9AE89;
}

#sidebar {
    float: left;
    position: fixed;
    top: 4.5rem;
    left: 0;
    width: 150px;
    white-space: nowrap;
    height: calc(100vh - 4.5rem);
}

#sidebar.collapse {
    visibility: hidden;
}

#sidebar.show {
    visibility: visible;
    overflow: hidden;
}

#sidebar.collapsing {
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}

#sidebar.collapsing.width {
    -webkit-transition-property: width, visibility;
    transition-property: width, visibility;
    width: 0;
}

#sidebar ul, #sidebar-widescreen ul {
    list-style: none;
    padding: 0;
}

#sidebar li a, #sidebar-widescreen li a {
    font-weight: 500;
    color: #D9AE89;
    text-decoration: none;
}

#sidebar li i, #sidebar-widescreen li i {
    margin-right: 4px;
    color: #D95A2B;
}

/*
 * Navbar
 */

#navbar {
    background-color: rgba(38, 26, 22, 0.9);
    color: #D9AE89;
    height: 4.5rem;
}

#title {
    background-color: rgba(38, 26, 22, 0.9);
    color: #D9AE89;
}

#navbar a {
    color: #D9AE89;
}

i {
    color: #D9AE89;
}

.btn {
    border: 1px solid #D9AE89;
    background: none;
    float: left;
}

#main-container {
    padding-top: 4.5rem;
    width: 100%;
}

#intro {
    position: relative;
    height: calc(100vh - 4.5rem);
    width: 100%;

}



#empty {
    float: right;
    height: calc(100% - 111.1vw);
    width: 1px;
}

#intro img {
    float: right;
    clear: right;
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
    shape-outside: polygon(55% 0%, 37% 25%, 40% 42%, 15% 47%, 5% 55%, 0% 65%, 5% 100%, 100% 100%, 100% 0%);
}

#intro span {
    color: #D95A2B;
    font-family: 'Pacifico', cursive;

}

@media (min-width: 768px) {
    #main-container {
        padding-top: 0;
    }
    #intro {
        height: 100vh;
    }

}