// Include all of Bootstrap

@import "../bootstrap/scss/bootstrap.scss";

// Custom variables

$font-stack: "Quicksand", sans-serif;
$code-font-stack: 'Roboto Mono', monospace;
$pacifico-font-stack: "Pacifico", cursive;

$floral-white: #fff9eb;
$smoky-black: #110903;
$sea-green: #39935f;
$maize-crayola: #ffdf99;
$rajah: #f5b066;
$mandarin: #da5e1b;
$dark-lava: #4d3d32;
$light-green: #9cb97c;
$amazon: #317d51;
$dark-green: #286742;
$dark-orange: #c85619;
$light-orange: #f6d0aa;
$smoky-black-shadow: rgba(38, 36, 22, 0.3);



body {
    font-family: $font-stack;
    font-weight: 300;
    background-color: $floral-white;
    color: $smoky-black;
}

#body-container {
    @extend .container-fluid;
    @extend .m-0;
    @extend .p-0;
}

h3 {
    color: $maize-crayola;
}

h4 {
    @extend .m-0;
    @extend .fw-light;
    @extend .fs-5;
}

h5 {
    @extend .m-0;
    @extend .fw-bold;
}

.hide {
    display: none !important;
}

/* ---- TOP NAVBAR (ONLY VISIBLE ON XS & S) ---- */

#navbar {
    
    @extend .fixed-top;
    @extend .d-md-none;
    @extend .p-2;
    background-color: $mandarin;
    color: $floral-white;
    height: 4.5rem;
    box-shadow: 0 3px 5px $smoky-black-shadow;
}

#title {
    @extend .text-center;
}

#hamburger {
    @extend .fixed-top;
    @extend .py-2;
    @extend .px-3;
    .btn {
        @extend .float-start;
        @extend .bg-transparent;
        border: 1px solid $maize-crayola;
        i {
            color: $maize-crayola;
        }
        &:focus {
            box-shadow: none;
        }
    }
}

/* ---- MAIN ---- */

main {
    @extend .container-fluid;
    @extend .p-0;
    @extend .m-0;
}

.main-container {
    @extend .row;
    @extend .m-0;
    @extend .p-0;
    @extend .g-0;
}

.row {
    @extend .m-0;
    @extend .p-0;
    @extend .g-0;
}

/* ---- SIDEBAR ---- */

#sidebar,
#sidebar-widescreen {
    background-color: $light-orange;
    color: $floral-white;
    box-shadow: 3px 0 5px $smoky-black-shadow;
    
    ul {
        list-style: none;
        @extend .p-0;
        li {
            @extend .py-2;
            @extend .px-md-3;
            a {
                @extend .fw-normal;
                @extend .text-decoration-none;
                color: $mandarin;
            }
            i {
                @extend .me-1;
                color: $mandarin;
            }
        }
    }
}

#sidebar {
    @extend .container;
    @extend .d-md-none;
    @extend .p-0;
    @extend .position-fixed;
    height: 100vh;
    top: 4.5rem;
    width: 175px;
    white-space: nowrap;
    z-index: 999;

    &.collapsing.width {
        width: 0;
        transition-property: width;
    }

    #sidebar-container {
        @extend .p-3;
        height: calc(100vh - 4.5rem);
    }
}

#sidebar-widescreen {
    @extend .position-fixed;
    @extend .d-none;
    @extend .p-0;
    @extend .d-md-block;
    @extend .col-md-3;
    @extend .col-xl-2;
    height: 100vh;
    z-index: 999;
}

#title-widescreen {
    @extend .container-fluid;
    @extend .w-100;
    @extend .p-2;
    @extend .p-md-3;
    background-color: $mandarin;
}

/* ---- MAIN SECTION ---- */

#main-wrapper {
    @extend .col-12;
    @extend .col-md-9;
    @extend .offset-md-3;
    @extend .col-xl-10;
    @extend .offset-xl-2;
    @extend .px-0;
    padding-top: 4.5rem;

}

/* ---- INTRO SECTION ---- */

#intro {
    @extend .position-relative;
    @extend .w-100;
    height: calc(100vh - 4.5rem);

    #empty {
        float: right;
        height: calc(100% - 111.1vw);
        width: 1px;
    }

    img {
        float: right;
        clear: right;
        max-height: 100%;
        max-width: 100%;
        height: auto;
        width: auto;
        shape-outside: polygon(70% 0%, 38% 25%, 40% 42%, 15% 47%, 5% 55%, 0% 65%, 5% 100%, 100% 100%, 100% 0%);
    }

    code {
        @extend .fs-2;
        color: $amazon;
        font-family: $code-font-stack;
        
    }

    span {
        @extend .fs-1;
        color: $mandarin;
        font-family: $pacifico-font-stack;
    }

    h1 {
        @extend .fs-2;
        @extend .fw-light;
        @extend .p-4;
    }
}

/* ---- PORTFOLIO SECTION ---- */

#portfolio {
    @extend .d-flex;
    @extend .justify-content-center;
    @extend .align-items-center;
    @extend .m-0;
    @extend .pt-5;
    background: $light-green;

    h1 {
        @extend .w-100;
        @extend .text-center;
        color: $dark-green;
    }

    

    h2 {
        @extend .mb-3;
        @extend .p-0;
    }

    h3 {
        color: $mandarin;
    }

    ul {
        @extend .p-0;
    }
}

#portfolio-wrapper {
    @extend .w-100;
    @extend .d-flex;
    @extend .flex-wrap;
    @extend .justify-content-center;
    @extend .align-items-center;
    @extend .m-0;
}

.button-container {
    @extend .w-100;
    @extend .d-flex;
    @extend .justify-content-center;
    @extend .align-items-center;
    @extend .p-4;
}

button {
    @extend .px-4;
    @extend .py-2;
    cursor: pointer;
    color: $white;
    background-color: $sea-green;
    border: 1px solid $sea-green;
}

button:hover {
    border: 1px solid $dark-green;
}


.repos {
    @extend .d-flex;
    @extend .flex-column;
    @extend .flex-nowrap;
    @extend .justify-content-center;
    @extend .w-100;
    @extend .px-3;
}

.filter-repos {
    @extend .align-self-center;
    @extend .my-3;
    @extend .p-2;
    width: 300px;
    border: 2px solid $dark-green;
}

.repo-list {
    columns: 325px auto;
}

.language-list {
    @extend .d-flex;
    @extend .w-100;
    @extend .my-3;
    @extend .flex-wrap;
}

.language-list li {
    @extend .badge;
    @extend .rounded-pill;
    @extend .me-1;
    @extend .mb-1;
    background-color: $sea-green;
}

.repo {
    @extend .p-3;
    @extend .rounded-3;
    break-inside: avoid;
}

.repo img {
    @extend .w-100;
    @extend .rounded-top;
}

.repo .card {
    @extend .rounded-3;
    border: none;
}

.repo:hover {
    cursor: pointer;
    background: $sea-green;
}

.repo-data {
    @extend .p-4;
}

.repo-info-wrapper {
    @extend .d-flex;
    @extend .flex-column;
    @extend .p-4;
    @extend .rounded-3;
    background-color: $floral-white;
}

.repo-info-wrapper div {
    @extend .col;
    @extend .col-md-6;
}

.repo-info-wrapper img {
    @extend .w-100;
}

.repo-data .readme {
    @extend .pt-3;
}

.repo-data .language-list li {
    background-color: $mandarin;
}

.readme > ul {
    @extend .ms-4;
}

#portfolio .readme > h1 {
    @extend .mb-3;
    @extend .text-start;
    color: $mandarin;
}

#portfolio .readme > h2 {
    @extend .mb-3;
    @extend .text-start;
    color: $mandarin;
}

.repo-data h3 {
    @extend .text-start;
}

.buttons {
    @extend .d-flex;
    @extend .w-100;
}

.repo-data .visit {
    @extend .d-block;
    @extend .me-3;
    @extend .px-4;
    @extend .py-2;
    @extend .text-decoration-none;
    max-width: 200px;
    color: $white;
    cursor: pointer;
    background-color: $sea-green;
    border: 1px solid $sea-green;
}
.repo-data .visit:hover {
    border: 1px solid $dark-green;
}

/* ---- EXPERIENCE SECTION ---- */

/* Code for timeline adapted from https://www.bootdey.com/snippets/view/bs4-my-experience-timeline#html */

#experience {
    @extend .container-fluid;
    @extend .pb-5;
    background-color: $floral-white;

    h1 {
        @extend .w-100;
        @extend .text-center;
        @extend .py-5;
        color: $mandarin;

    }
}

.main-timeline {
    @extend .position-relative;
    @extend .mx-3;
}

.main-timeline:before {
    @extend .d-block;
    @extend .position-absolute;
    top: 0;
    left: 7px;
    right: 0;
    @extend .h-100;
    @extend .m-0;
    content: "";
    width: 2px;
    background: $rajah;
}

.main-timeline .timeline {
    @extend .d-flex;
    @extend .flex-nowrap;
    @extend .justify-content-center;
    @extend .align-items-center;
    @extend .mb-5;
    @extend .position-relative;
}

.timeline .date-content {
    @extend .d-flex;
    @extend .flex-column;
    @extend .justify-content-center;
    @extend .align-items-center;
    @extend .w-100;
    @extend .ms-4;
    @extend .position-relative;
}

.timeline .date-outer {
    @extend .d-flex;
    @extend .justify-content-center;
    @extend .align-items-center;
    @extend .fs-4;
    @extend .fw-bold;
    @extend .rounded-circle;
    width: 110px;
    height: 110px;
    color: $floral-white;
    background: $mandarin;
    z-index: 1;
    transition: all 0.33s ease-out 0s;
}

.main-timeline .timeline:hover .date-outer {
    background-color: $sea-green;
    width: 120px;
    height: 120px;
    top: -5px;
}

.main-timeline .timeline .date-caption {
    @extend .text-center;
    @extend .mt-3;
    color: $mandarin;
    transition: all 0.33s ease-out 0s;
}

.date-caption p {
    @extend .mb-0;
}

.date-caption .wrapper {
    @extend .mx-auto;
    width: 90%;
}

.main-timeline .timeline:hover .date-caption {
    color: $sea-green;
    transform: scale(1.1);
}

.timeline-content {
    display: none;
}

.main-timeline .icon {
    @extend .position-absolute;
    @extend .rounded-circle;
    @extend .my-auto;
    background-color: $mandarin;
    content: "";
    width: 18px;
    height: 18px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: all 0.33s ease-out 0s;
}

.main-timeline .timeline:hover .icon {
    background: $sea-green;
    width: 20px;
    height: 20px;
    top: -1px;
    left: -1px;
}

.main-timeline .timeline:last-child {
    @extend .mb-0;
}

/* ---- SKILLS SECTION ---- */

#skills {
    background-color: $light-green;
    color: $dark-green;

    h1 {
        @extend .w-100;
        @extend .text-center;
        @extend .py-5;
        color: $dark-green;
    }

    a {
        color: $dark-green;
    }
}

#skills-wrapper {
    @extend .col-10;
    @extend .m-auto;
    max-width: 900;
}

#skill-badges {
    @extend .d-flex;
    @extend .flex-wrap;
    @extend .my-5;
    @extend .mx-auto;
    @extend .justify-content-evenly;
    @extend .col-10;

}

#skills p {
    @extend .m-auto;
    @extend .text-center;
    @extend .fs-5;

}

#badge-wrapper {
    @extend .m-auto;
    @extend .text-center;
}

.hex-badge {
    position: relative;
    margin: 1em 2em;
    width: 4em;
    height: 6.2em;
    border-radius: 10px;
    display: inline-block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: all 0.2s ease;
}

.hex-badge::after,
.hex-badge::before {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: inherit;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.hex-badge::before {
    transform: rotate(60deg);
}

.hex-badge::after {
    transform: rotate(-60deg);
}
.hex-badge:hover {
    top: -4px;
}

.hex-badge .ribbon {
    position: absolute;
    border-radius: 4px;
    width: 100px;
    z-index: 11;
    color: $white;
    bottom: 12px;
    left: -18px;
    font-size: 14px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.27);
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom right, #555 0%, #333 100%);
    cursor: default;
}

.circle {
    font-weight: bold;
    width: 60px;
    height: 60px;
    position: absolute;
    background: $white;
    z-index: 10;
    border-radius: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 2em;
}

.circle i {
    margin-top: 8px;
}

.sea-green {
    background-color: $sea-green;
    color: $sea-green;
}

.dark-lava {
    background-color: $dark-lava;
    color: $dark-lava;
}

.mandarin {
    background-color: $mandarin;
    color: $mandarin;
}

.light-green {
    background-color: $light-green;
    color: $light-green;
}

.rajah {
    background-color: $rajah;
    color: $rajah;
}


/* ---- CONTACT SECTION ---- */

#contact {
    background-color: $mandarin;
    color: $floral-white;

    h1 {
        @extend .w-100;
        @extend .text-center;
        @extend .py-5;

    }

    p {
        @extend .text-center;
        @extend .fs-5;
    }

    a {
        color: $floral-white;
    }

}

#contact-wrapper {
    @extend .mx-5;
}

#contact-column-wrapper {
    @extend .d-flex;
    @extend .flex-wrap;
    @extend .my-4;
    @extend .my-md-5;
}

#meet, #social {
    @extend .col-12;
    @extend .col-md-6;
    @extend .text-center;
    @extend .py-5;
    @extend .py-md-0;
}

#contact .big-icons {
    @extend .my-4;
    font-size: 3em;
}






/* ---- STYLING FOR TABLET SCREENS ---- */

@include media-breakpoint-up(md) {

    #main-wrapper {
        padding-top: 0;
    }
    #intro {
        height: 100vh;
    }
    
    #intro #empty {
        height: calc(100% - 83.25vw);
    }

    .repo-info-wrapper {
        flex-direction: row !important;
    }

    .repo-data .readme {
        padding: 0 0 0 2em !important;
    }

    .main-timeline:before {
        margin: 0 auto !important;
        left: 0 !important;
    }

    .date-caption {
        display: none;
    }

    .main-timeline .timeline .date-content {
        order: -1;
        width: 50%;
        float: left;
        margin: 0 !important;
    }

    .main-timeline .timeline .icon {
        order: 0;
        margin: auto;
        z-index: 1;
    }

    .main-timeline .timeline .timeline-content {
        order: 1;
        display: block;
        float: right;
        color: $mandarin;
        width: 95%;
        text-align: center;
        padding: 10px 0;
        transition: all 0.33s ease-out 0s;
    }
    
    .main-timeline .timeline:hover .timeline-content {
        color: $sea-green;
        transform: scale(1.1);
    }

    .main-timeline .timeline-content .wrapper {
        width: 75%;
        margin: auto;
    }
    
    .main-timeline .timeline-content .description {
        margin-bottom: 0;
    }

    .main-timeline .timeline .date-content::before {
        display:block;
        content: "";
        width: 48%;
        height: 2px;
        position: absolute;
        left: 50%;
        background: $mandarin;
        transition: all 0.33s ease-out 0s;
    }

    .main-timeline .timeline:hover .date-content::before {
        background: $sea-green;
    }

    .main-timeline .timeline:nth-child(2n) .timeline-content {
        order: -1;
    }

    .main-timeline .timeline:nth-child(2n) .date-content {
        order: 1;
    }

    .main-timeline .timeline:nth-child(2n) .date-content::before {
        left: 2%;
    }

    .hex-badge {
        margin: 1.5em 3em;
    }
    
    #skills p {
        width: 85% !important;
    }

}

@include media-breakpoint-up(xl) {

    #intro h1 {
        font-size: 3rem !important;
    }

    #intro h1 code {
        font-size: 3rem !important;
    }

    #intro h1 span {
        font-size: 3.5rem !important;
    }

    #empty {
        height: calc(100% - 92.5vw);
    }


}
